<!doctype html>
<head>
    <title>
        BSHS Dating Site
    </title>
    <link href="/static/app.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="legible">
    <p>
        Green people are good matches, black are meh matches, and red are bad matches. Yellow people are in a
        relationship. The buttons at the top let you show some more information that I hide by default, because having
        two tables with 150 entries each pop up right when you load the page is too much.
    </p>

    <p>I judge the accuracy of algorithms using leave one out validation - for every couple I have, remove them,
        train a regression on the remaining couples, and see what place the couples are recommended to each other.
        A completely random algorithm has an accuracy of 40, an algorithm that recommends the mean place of people in
        relationships has an accuracy of 33, and my best algorithm has an accuracy of 18.</p>

    <p>The algorithm is a robust linear regression over 5 dimensions, followed by a normalization step to prevent
        the algorithm from recommending a handful of popular people to everyone. The "you should go to prom with"
        section
        is the result of pairing everyone to maximize happiness.</p>

    <a href="/">Back to home page.</a>
    <br/>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96586317-1', 'auto');
  ga('send', 'pageview');

</script>
</body>