<!doctype html>
<head>
    <title>
        BSHS Dating Site
    </title>
    <link href="/static/app.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1>BSHS Dating Site</h1>
<h5>And also some other schools</h5>
<marquee>
    <marquee direction="down" width="250" height="200" behavior="alternate">
        <marquee behavior="alternate" scrollamount="20">
            <marquee behavior="alternate" scrollamount="12" direction="down">
                20% MORE ACCURATE
            </marquee>
        </marquee>
    </marquee>
</marquee>
<form method="get" action="/results">
    <input name="name" placeholder="Firstname Lastname">
    <input type="submit">
</form>
<br/>

<p>
    Not in the dataset? Take the <a href="https://www.surveymonkey.com/r/5Z6KGLT">survey</a> then wait like a day.
</p>

<p>
    Want to know how it works? <a href="/explanation">explanation</a>
</p>

<p>
    Want a wibbly wobbly graph? <a href="/wibbly_wobbly">wibbly wobbly</a>
</p>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-96586317-1', 'auto');
    ga('send', 'pageview');

</script>
</body>