<!doctype html>
<head>
    <title>
        BSHS Dating Site
    </title>
    <link href="/static/app.css" type="text/css" rel="stylesheet">
</head>
<body>
<marquee direction="down" width="250" height="200" behavior="alternate">
  <marquee behavior="alternate">
    NEW AND IMPROVED
  </marquee>
</marquee>
<form method="get" action="/results">
    <input name="name" placeholder="Firstname Lastname">
    <input type="submit">
</form>
<br/>

<p>
    Not in the dataset? Take the <a href="https://www.surveymonkey.com/r/5Z6KGLT">survey</a> then wait like a day.
</p>

<p>
    Want to know how it works? <a href="/explanation">explanation</a>
</p>

<p>
    Want a wibbly wobbly graph? <a href="/wibbly_wobbly">wibbly wobbly</a>
</p>

</body>