
body{
    font-family: "Lato", sans-serif;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}


#hero-image-container{
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -2;
}

#hero-image-container #color-overlay{
    background: linear-gradient(rgba(200, 0, 200, .9), rgba(200, 9, 0, 0.4));
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
}

#hero-image-container img{
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    z-index: -2;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}


h1{
    font-size: 25vh;
    line-height: 0;
    color: white;
    margin-bottom: calc(25vh / 2 + 5vh);
}

h2{
    font-size: 4.5vh;
    line-height: 0;
    color: white;
    margin-bottom: calc(4.5vh / 2 + 5vh);
}

#name-input{
    margin: 0;
    border: 0;
    padding: 10px;
    border-radius: .5vw 0 0 .5vw;
    font-size: 1.3em;
}

#submit-button{
    background-color: pink;
    border-radius: 0 .5vw .5vw 0;
    border: 0;
    margin: 0;
    padding: 10px;
    font-size: 1.3em;
}

#links{
    padding: 15px;
    font-size: 1.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    width: 85vw;
    margin: 0 auto;
}

#links p{
    width: 25vw;
    border-radius: 1vw;
    padding: 15px;
    background-color: #ffcbd5;
    background-image: linear-gradient(to bottom, pink, #ffaf91);
    min-width: 300px;
    border: 2px solid white;
}

#links p:hover{
    border: 2px solid hotpink;
}


/*---------------------------------------------------------------------------------------------------------------*/

#container{
    margin: 5px;
    padding: 5px;
}

#container h1{
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 40px;
}

.group{
    width: 30vw;
    display: inline-block;
}

.block{
    width: 100vw;
}

td{
    border-top: 1px solid black;
}
table{
    border-spacing: 0;
    border: 1px solid black;
    border-top: 0;
}

.red{
    color: #cd0000
}
.yellow{
    color: #ffbe00
}
.green{
    color: #00e800
}
.white{
    color: black
}

.legible{
    max-width: 600px;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

td a{
    color: inherit;
}
td a:hover{
    text-decoration: underline;
}

td:nth-child(2){
    min-width: 20vw;
    padding-left: 5px;
}
td:first-child{
    border-right: 1px solid black;
}
.best-matches td:nth-child(3){
    color: white;
}
::selection{
    background: black;
}
::-moz-selection{
    background: black;
    color: white;
}

svg{
    position: relative;
    bottom: -2px;
    left: -8px;
    width: 100vw;
    shape-rendering: crispEdges;
}

.black{
    color: black;
}